<div class="footer">
  <p>© Copyright 2020, <a href="https://boozallen.com">Booz Allen Hamilton</a></p>
  <p>
    Built with <a href="https://antora.org">Antora</a> using a
    <a href="https://github.boozallencsn.com/software-studio/bah-docs-skin">custom UI Bundle</a>.
  </p>
</div>