<header class="mdc-top-app-bar mdc-top-app-bar--fixed">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <img class="toolbar-logo" src="{{uiRootPath}}/img/jte.svg" viewBox="20 0 80 100"
        alt="Jenkins Templating Engine Logo">
      <span class="mdc-top-app-bar__title">{{#if site.title}}{{site.title}}{{/if}}</span>
    </section>

    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <i class="material-icons mdc-icon-button search" tabindex="0" role="button">
        search
      </i>
    </section>
  </div>

  <div class="mdc-top-app-bar__row sdp-top-app-bar__search mdc-drawer-app-content hide">
    <section class="mdc-top-app-bar__section">
      <i class="material-icons mdc-icon-button search-arrow-back" tabindex="0" role="button" title="Close search">
        arrow_back
      </i>

      <div class="mdc-text-field search expanded">
        <input type="text" id="search-input" class="mdc-text-field__input search" />
        <label class="mdc-floating-label mdc-floating-label--float-above" for="search-input">
          Search the docs
        </label>
      </div>

      <i class="material-icons mdc-icon-button search-clear-query" role="button" tabindex="0" title="Clear search">
        close
      </i>
    </section>
  </div>
</header>