<header class="mdc-top-app-bar mdc-top-app-bar--fixed">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <img class="toolbar-logo" src="{{uiRootPath}}/img/jte.svg" viewBox="20 0 80 100" alt="Jenkins Templating Engine Logo">
      <span class="mdc-top-app-bar__title">Solutions Delivery Platform</span>
    </section>

    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <i class="material-icons mdc-icon-button search" tabindex="0" role="button">search</i>
        <div class="mdc-text-field search">
          <input type="text" id="search-input" class="mdc-text-field__input search">
          <label class="mdc-floating-label mdc-floating-label--float-above" for="search-input">
            Search the docs
          </label>
          <div class="mdc-line-ripple"></div>
        </div>
    </section>
  </div>
</header>
