<div class="on-this-page-container desktopOnly">
    <aside>
        <div class="toc-header">
            <span class="toc-title">On this page</span>
            <a class="edit-page" href="{{editLink (and page.fileUri (not env.CI)) page}}">
                <div class="mdc-ripple-surface edit-page">
                    <div class="mdc-button__ripple"></div>
                    <i class="material-icons-outlined mdc-button__icon" aria-hidden="true">edit</i>
                    <span class="mdc-button__label">Edit on GitHub</span>
                </div>
            </a>
        </div>
        <ul id="toc" class="toc">            

        </ul>
    </aside>
</div>

