<div class="nav-container">
  <aside class='nav'>
    <div class='panels'>
      <div class='toc-panel-menu'>
        <ul class="toc-menu-content">

        </ul>
      </div>
    </div>
  </aside>
</div>