<div class="toolbar" role="navigation">
{{> nav-toggle}}
  {{#if site.homeUrl}}
  <a href="{{relativize site.homeUrl}}" class="home-link{{#if page.home}} is-current{{/if}}"></a>
  {{/if}}
{{> breadcrumbs}}


  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Button
  </button>

  {{#if (and page.fileUri (not env.CI))}}
  <a class='edit-this-page' href="{{page.fileUri}}"><i class="la la-pencil-alt"></i>Edit on GitHub</a>
  {{else if (and page.editUrl (not page.origin.private))}}
  <a class='edit-this-page' href="{{page.editUrl}}"><i class="la la-pencil-alt"></i> Edit on GitHub</a>
  {{/if}}
</div>
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
