html,
body {
  height: 100%;
}


/* styling the horizontal scroll bar */
::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb:horizontal {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: var(--booz-light-blue);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--body-font-size);
  -webkit-text-size-adjust: 100%;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: var(--body-font-size--desktop);
  }
}

body {
  background: var(--body-background);
  color: var(--body-font-color);
  /* font-family: var(--body-font-family); */
  font-family: var(--booz-source-sans);
  line-height: var(--body-line-height);
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code,
kbd,
pre {
  font-family: var(--monospace-font-family);
}

b,
dt,
strong,
th {
  font-weight: var(--body-font-weight-bold);
}

em em { /* stylelint-disable-line */
  font-style: normal;
}

strong strong { /* stylelint-disable-line */
  font-weight: normal;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: var(--booz-light-blue);
  color: var(--color-white);
  font-family: sans-serif;
  font-size: .75rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: var(--booz-light-blue-hover);
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}