.la.la-copy.clipboard {
  display: none;
  color: var(--pre-annotation-font-color);
  font-size: calc(13.5 / var(--rem-base) * 2rem);
  letter-spacing: 0.05em;
  line-height: 1;
  position: absolute;
  top: 1.25rem;
  right: 0.25rem;
}

.la.la-copy.clipboard:hover {
  color: var(--color-gray-70);
  cursor: pointer;
}

.doc .listingblock:hover .la.la-copy.clipboard {
  display: block;
}

.tippy-tooltip.clipboard-theme {
  background-color: var(--booz-dark-blue);
  color: white;
}
