.toc-container {
  position: sticky;
  top: var(--navbar-height);
  right: 0;
  /* margin-right: 50px; */
  padding-right: 20px;
  min-height: 100%;
  display: none;
  background: #f8f8f8;
}

@media screen and (min-width: 1024px) {
  .toc-container {
    display: inline-block;
  }
}

.toc-menu-content {
  list-style-type: none;
  padding: 0;
}

.toc-menu {
  width: 100%;
  padding-left: 20px;
  padding-right: 10px;
}

.toc.header {
  border-left: 3px solid #989a9b;
  font-size: calc(17 / var(--rem-base) * 1rem);
  padding: 5px 10px 0 25px;
  font-family: var(--booz-source-sans);
}

.toc.header.active {
  border-left: 3px solid var(--booz-light-blue);
}

.toc.header.active:hover {
  border-left: 3px solid var(--booz-light-blue);
}

.toc.header:hover {
  border-left: 3px solid var(--booz-light-blue);
}

.toc.header-link {
  color: #989a9b;
  font-size: calc(15.5 / var(--rem-base) * 1rem);
}

.toc.header-link:hover {
  color: var(--booz-light-blue);
  text-decoration: none;
}

.toc.header-link.active {
  color: var(--booz-light-blue);
}
