@import "./variables";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
@import "@material/icon-button/mdc-icon-button";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/ripple/mdc-ripple";
@import "@material/select/mdc-select";
@import "@material/textfield/mdc-text-field";
@import "@material/top-app-bar/mdc-top-app-bar";


html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}

// hide elements with .mobileOnly on bigger screens
@media screen and (min-width: 1025px) {
  .mobileOnly {
    display: none !important;
  }
}

// hide elements with .desktopOnly on smaller screens 
@media screen and (max-width: 1024px) {
  .desktopOnly {
    display: none !important;
  }
  .mobileOnly {
    display: inline-block;
  }
}
