
// customizations 
// navigation
@import "./common";
@import "@material/drawer/mdc-drawer";
@import "@material/ripple/mdc-ripple";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";

$nav-width: 15vw; 
$expand-animation-time: 0.3s; 

//common 
div.nav-container {
  box-shadow: none;

  .material-icons.show-more {
    color: black; 
    font-size: 1.0rem;
    min-width: 1.0rem;
    transition: all $expand-animation-time ease-in-out; 
    
    &:hover {
      cursor: pointer; 
    }

    &.expanded {
      transform: rotate(90deg);
      transition: all $expand-animation-time ease-in-out; 
    }
  }

  .nav-item {
    font-size: 0.75rem;
    max-width: 16rem; 
    color: black; 
    vertical-align: middle;
    padding-top: 0.2rem; 
    padding-bottom: 0.2rem;

    display: table; 

    /* Setup word wrapping. overflow-wrap and word-wrap are aliases but some
       browsers support one and not the other. Similarly, webkit only respects
       break-word for word-break. */
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;

    &:hover {
      color: $mdc-theme-secondary;
    }

    a{
      text-decoration: none; 
      color: black;
      display: table-cell; 
      vertical-align: middle;

      &:hover {
        @extend .nav-item:hover;
      }
    }

    span {
      display: table-cell; 
      vertical-align: middle;
    }


    & .is-current-page {
      color: $mdc-theme-secondary; 
    }
  }

  .nav-item .spacer {
    display: inline-block; 
    padding-left: 1.2rem; 
  }

}

.nav-children-panel {
  display: block;
  padding-left: 0.5rem;
  overflow: auto;
  min-width: 5rem;
  transition: max-height $expand-animation-time ease-out;
}

.nav-trees {
  max-width: 100%;
  margin: 0; 
  margin-right: 2rem;
  padding: 0.2rem 0;
}

// version select 
.version-box {
  margin: 0; 
  float: right; 
  display: inline-block;
  margin-top: 0.1rem;

  span {
    color: $light-gray;
    padding-left: 1.2rem;
    padding-top: -0.1rem;
    font-size: 0.75rem;
  }

  .single-version {
    background-color: $mdc-theme-background;
    border-color: $mdc-theme-background;
    color: $light-gray;
  }

  .single-version:hover {
    border-color: $mdc-theme-background;
    color: $light-gray;
  }

  &:hover span {
    color: $mdc-theme-secondary;
  }
}


.select-version {
  display: block;
  font-size: 0.65rem;
  color: $light-gray;
  padding: 0.1rem;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid $light-gray;
  border-radius: .5rem;
  -moz-appearance: none;
}

.select-version::-ms-expand {
  display: none;
}

.select-version:hover {
  border-color: $mdc-theme-secondary;
  color: $mdc-theme-secondary;
}

.select-version:focus {
  color: $mdc-theme-secondary;
  border-color: $mdc-theme-secondary;
  outline: none;
}

.select-version option {
	font-weight:normal;
}

.clear {
  clear: both; 
}

.hide {
  display: none !important; 
}

@media screen and (min-width: 1025px){
  div.nav-container {
    min-width: $nav-width;
    aside {
      @include mdc-elevation(4);
      padding-top: 5rem;
      padding-left: 0.5rem;
      position: fixed;
      top: 0;
      bottom: 0;
      overflow-y: auto;
      width: $nav-width;
    }
  }
}
